{%extends 'wards/base.html'%}
{% block content %}
<div class="container">

    <div class="row">
        {% if projects|length > 0 %}
        <h1 class="text-info text-center">Found {{ projects|length }} results of searched term {{message}}</h1>
        {% else %}
        <h1 class="text-info text-center"> Found 0 results for the search term {{message}}</h1>
        {% endif %}

    </div>

    <div class="row">

        {% if projects %}
        {% for project in projects %}
        <div class="col-md-4">
            <div class="  ">
               
               
                <figure>
                    <a href="{% url 'project-detail' project.id %}"><img src="{{project.image.url}}" class="img-responsive imgs" id='imag' alt="Project screenshot"></a>
                        
                        <figcaption><a href="{% url 'project-detail' project.id %}">{{project.title}}</a></figcaption>
                </figure>
            

<small class="text-muted">
        <a href="{% url 'profile-detail' project.profile.user.username %}">View projects posted by {{message}}?</a>
</small>

            </div>
           

        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}