
#inst{
  font-family: 'Bungee Inline', cursive;
}
#navbox {
  color:black;
  margin: 15px;
  margin-top:0px;
  padding-left: 10px;
  position: absolute;
  overflow: hidden;
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(238, 234, 234, 0.9);
  transition: 400ms;
  z-index: 1;
  
}


#btn {
  position: absolute;
  top: 10px;
  left: 10px;
  margin-right: 20px;
  z-index: 1;
}

#btn div {
  position: relative;
  margin-top: 10px;
  width: 35px;
  height: 2px;
  background: black;
  transition: 300ms;
}

.d1 {
  background: #f00 !important;
  top: 2px;
  transform: rotate(45deg);
}

.d2 {
  margin: 0 !important;
  display: none;
}

.d3 {
  background: #f00 !important;
  top: 0;
  margin: 0 !important;
  transform: rotate(-45deg);
}

#navs {
  position: relative;
  margin-top: 55px;
  display: block;
  transition: 900ms;
}

#navs a {
  position: relative;
  right: 7%;
  margin-top: 5px;
  padding: 25px;
  width: 100%;
  display: block;

  text-decoration: none;
  outline: none;
  font-weight: bolder;
  transition: 400ms;

}

#navs a:hover {
  background: #fff;
  color: #000;
}
.fix{

position:absolute;
max-height: 75vh;

overflow:hidden;

}
.site-of-day-bg{
  background-color: rgba(0,0,0,0.5);
  position:relative;
  height:75vh;
  margin-left:15px;
  width:98%;
}

.big{
 
  position:relative;
color:red;
  margin-left:15px;
  width:98%;
}
.img{
  width:100%;

}
.form-control{
 margin-top:15px;
}
.prof-img{
  width:15%;
  height:auto;
  border-radius: 50%;
}
.media{
  margin-left: 20px;
}
.full-profile{
  max-width: 640px;
  height: auto;
}
#imag {
  margin-top:2px;
  width: 300px;
  max-height: 200px;
  border-radius: 5%;

}
.card{
  min-height: 400px;
  margin-left:22px;
}
#imag:hover {
  opacity: 0.5;
}

.img-posts{
  max-width: 620px;
  height: auto;
}