<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
</body>
</html>DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid">
        <div class="header">


            <nav class="navbar navbar-inverse bg-light">
                <div class="container-fluid nv">
                    <div class="navbar-header">





                    </div>

                    <div class=" navbar-right">

                        <a class="navbar-brand text-dark inst d-inline-flex" href="{% url 'home' %}"
                            id="inst">Projwards</a>

                        <form class="navbar-form d-inline-flex ml-5" role="search" action="{% url 'search_results' %}">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="search by project name"
                                    name="search_project">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i
                                            class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                        </form>


                    </div>
                    <div class="navbar-nav d-inline-flex ">

                        {% if user.is_authenticated %}
                        <div class="d-inline-flex prof-links">
                            <a class="nav-item nav-link mr-2 text-dark" href="{% url 'logout' %}">Logout</a>

                            <a class="nav-item nav-link mr-2 text-dark" href="{% url 'project-create' %}"> <input
                                    class="btn btn-lg bg-success" type="submit" value="Submit your project here"></a>


                        </div>
                        {% else %}

                        <div class="d-inline-flex">
                            <a class="nav-item nav-link mr-2 text-dark" href="{% url 'login' %}">Login</a>
                            <a class="nav-item nav-link ml-2 text-dark" href="{% url 'register' %}">Register</a>
                            <a class="nav-item nav-link mr-2 text-dark" href="{% url 'project-create' %}"> <input
                                    class="btn btn-lg bg-success" type="submit" value="Submit your project here"></a>
                        </div>

                        {% endif %}


                    </div>

                </div>

                <div id="btn" class="" onclick="closeOpen()">
                    <div id="d1"></div>
                    <div id="d2"></div>
                    <div id="d3"></div>
                </div>
            </nav>

            <div id="navbox">

                <navs id="navs" class="mt-0 text-dark">

                    {% if user.is_authenticated %}

                    <a href="{% url 'register' %}" class="text-dark">Register</a>
                    <a href=" {% url 'profile-detail' user.username %}" class="text-dark">Profile</a>

                    <a href="/" class="text-dark">Home</a>

                    <a href="/" class="text-dark">Winners</a>


                    <a href="/" class="text-dark">Nominees</a>


                    <a href="/" class="text-dark">collections</a>

                    <a href="#" class="text-dark">About</a>
                    {% else %}
                    <a href="/" class="text-dark">Home</a>

                    <a href="/" class="text-dark">Winners</a>


                    <a href="/" class="text-dark">Nominees</a>


                    <a href="/" class="text-dark">collections</a>

                    <a href="#" class="text-dark">About</a>
                    {% endif %}
                </navs>

            </div>

        </div>

    </div>


</body>

</html>